@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.user-signin {
  width: 100%;
  min-height: 75vh;
  @include center-flex-horizontal;

  // signin-box styles
  .signin-box {
    width: 410px;
    height: 450px;
    padding: 35px 60px;
    border-radius: 20px;
    background-color: white;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: $primary-box-shadow;

    // h1 styles
    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      text-align: center;
      color: #000000;
    }

    // h3 styles
    h3 {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #000000;
      opacity: 0.5;
    }

    // sign in input
    .signin-input {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      margin: 10px 0px 30px 0px;
      width: 100%;

      input {
        @include text-input-styles;
        height: 45px;
        width: 100%;
        font-size: 14px;
        padding: 10px 3rem 10px 10px;

        &::placeholder {
          font-size: 14px;
        }
      }

      label {
        font-size: 14px;
        color: #1d1b19;
      }

      .password-input {
        position: relative;

        // styles for eye icon
        .eye-icon {
          position: absolute;
          right: 1rem;
          padding-top: 8px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.2rem;
          cursor: pointer;
          opacity: 1;
          transition: opacity 0.2s;
        }
      }
    }

    .user-signin-btn {
      padding: 16px 0px;
      border-radius: 8px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      margin-top: 10px;
      background-color: $green-color;
      color: #ffffff;
      &:hover {
        background-color: $dark-green-color;
      }
      @include button-styles;

      // styles for loader
      .loading-state {
        width: 16px;
        height: 16px;
        border: 3px solid #fff;
        @include spinning-loader;
      }
    }
  }
}
