@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.all-checklist-modal {
  min-height: 450px;
  width: 520px;
  padding: 20px;
}

.all-checklist-modal {
  background: white;
  border-radius: 20px;
  padding: 20px;
  max-height: 80vh;
  overflow-y: auto;

  .checklist-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .checklist-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
      text-align: center;
    }

    .checklist-items {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .checklist-item {
        padding: 10px;
        // background: $light-green-color;
        border-radius: 10px;

        .check-description {
          color: #333;
          font-size: 0.9rem;
        }
      }
    }

    .close-button {
      align-self: center;
      padding: 8px 16px;

      background: $green-color;
      color: white;
      @include button-styles;

      width: 50%;
      &:hover {
        background: $dark-green-color;
      }
    }
  }
}
