// Global variables
$primary-bg-color: #ffffff;
$bg-pattern-color: #e6e4ec;

$offwhite-color: #f8f8f8;

$font-black-color: #1d1b19;
$black-color: #090705;

$gray-color: #595657;
$light-gray-color: #e8e8e8;

$green-color: #3a9391;
$light-green-color: #eff6f6;
$dark-green-color: #257270; // not in figma design used to show hover effect

$red-color: #ff3b30;
$light-red-color: #ffebea;
$dark-red-color: #e0342a; // not in figma design used to show hover effect

$orange-color: #f1a254;
$light-orange-color: #fef6ee;
$dark-orange-color: #e99746; // not in figma design used to show hover effect

$border-color: #b3b3b3;

$primary-box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
