// Variables for reusable values
@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss" as *;

$navbar-height: 70px;
$navbar-shadow-color: rgba(0, 0, 0, 0.04);
$navbar-padding-x: 20px;
$navbar-profile-bg-color: #faf0e6;

// Navbar styles
.navbar {
  background-color: $primary-bg-color;
  height: $navbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: $navbar-shadow-color 0px 3px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $navbar-padding-x;
  z-index: 500;

  &.no-shadow {
    box-shadow: none;
  }

  // Logo styles
  .logo {
    height: 50px;
    width: 160px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  // Profile view styles
  .profile-view {
    height: 50px;
    width: 50px;
    background-color: $navbar-profile-bg-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: $green-color;
    cursor: pointer;
  }

  // logout styles
  .user-logout {
    position: absolute;
    bottom: -110px;
    right: 55px;
    height: 130px;
    width: 300px;
    background-color: #fff;
    box-shadow: $primary-box-shadow;
    border-radius: 10px 0 10px 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;

    .user-logout-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 8px;
      font-weight: 500;
    }

    .user-logout-body {
      color: #333;
      border-bottom: 1px solid #e0e0e0;
      padding: 10px 0px;
      font-size: 15px;
    }

    .user-logout-footer {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      column-gap: 10px;
      align-items: end;

      button {
        @include button-styles;
        height: 70%;
        border-radius: 8px;
        width: 80px;
        font-weight: 500;
        font-size: 12px;
      }

      .cancel-btn {
        background-color: #fff;
        border: 1px solid #e0e0e0;

        &:hover {
          background-color: #eee;
        }
      }

      .logout-btn {
        background-color: #ff3b30;
        color: white;

        &:hover {
          background-color: #d62118;
        }
      }
    }
  }
}
